/* Global Styles (applied to all elements) */
* {
  margin: 0; /* Remove default margin from all elements */
  box-sizing: border-box; /* Ensure padding and border don't affect element width/height */
}

/* Styles for the App class */
.App {
  display: flex; /* Activate flexbox layout for the container */
  flex-direction: column; /* Arrange elements vertically within the container */
  gap: 25px;/* Distribute elements with space around them in the main axis (column in this case) */
  align-items: center; /* Align items horizontally within the container (centering them in this case) */
  height: 100%;/* Set container height to 100% viewport height */
  width: 100vw; /* Set container width to 100% viewport width */
  border: 5px solid red; /* Add a red border to the container for visualization */
  background-color: rgb(251, 247, 243);
}


/* Styles for a class named flexbox-container (not used in the provided HTML) */
.flexbox-container {
  border: 3px solid black; /* Add a green border for visualization */
  height: 250px; /* Set height of the container to 250px */
  width: 500px; /* Set width of the container to 500px */
  padding: 10px; /* Add padding of 10px to the container */
  display: flex; /* Activate flexbox layout for the container */
}

p {
  height: 75px;
  width: 75px;
  text-align: center;
  padding-top: 10px;
}

.one {
  background-color: blue;
}
.two {
  background-color: red;
}
.three {
  background-color: blueviolet;
}
.four {
  background-color: green;
}
.five {
  background-color: yellow;
}

.direction {
flex-direction: row;
}

.wrap{
  flex-wrap: nowrap;
  width: 30vw;
  height: 100%;
}

.flow {
flex-flow: column nowrap;
}

.justify {
  justify-content: center;
  align-items: center;
}

.gap {
gap: 5px;
}

.align > .two {
  align-self: flex-end;
}

.flex-within {
  display: flex;
  height: 500px;
  gap: 50px;
  flex-direction: column;
  align-items: center;
}


.flex-within > div > p {
  height: 35px;
  width: 35px;
  outline: 1px solid green;
}

.inner-one {
  width: 225px;
  height: 225px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.inner-two {
  width: 225px;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
